*{
  margin: 0;
}
header{
  background-color: #f2f2f2;
  
}
h2{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
body{
  background-color:rgb(233, 233, 237);
}

.photo img{
  width: 346px;
  height: 346px;
  border-radius: 15%;
  margin-left: 125px;
  float: left;
}

p{
  margin-left: 125px;
  font-weight: bold;
  margin-top: 50px;
  font-size: 20px;
}


.material-symbols-outlined{
  margin-left: 3%;
  margin-top: 2%;
}