body{
    background-color: #f2f2f2;
}

img{
    display:inline-block;  
    width: 400px;
    height: 450px;
    margin-left: 12%;
    margin-top: 7%;
    border-radius: 50%;
}

.boxdiv{
    background-color: #f2f2f2;
    width: 40%;
    height: 510px;
    margin-top: 2%;
    margin-right:12%;
    float: right;
}

.slide{
    display:inline-block; 
    background:rgb(233, 233, 237); 
    width: 100%;
    margin-top: 5%;
    margin-right:10%;
    animation-name:down; 
    animation-duration:7s; 
    overflow:hidden; 
    border-radius: 10px 100px / 30px;
}
/*  0%는 애니메이션이 시작된 시점을 의미하고 100%는 애니메이션이 끝나는 시점을 의미 */
@keyframes down {
    0% {height:0%;}
    50% {height:100%;}
    100% {height:100%;} 
}

li{
    font-family: 'Poor Story', '돋움체';
    font-size: 30px;
    list-style: none;
    line-height: 2.7;
}

/* HOME 아이콘 */
.material-symbols-outlined{
    margin-left: 3%;
    margin-top: 2%;
}

