body{
    background-color:rgb(233, 233, 237);
 }
 
 .loginForm{
    position:absolute;
    width:400px;
    height:470px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%; 
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.loginForm h3 {
    text-align: center;
    margin: 40px;
    font-size: 20px;
  }

  .textForm {
    border-bottom: 2px solid #adadad ;
    margin: 50px;
    padding: 1px;
  }

  .id {
    width: 100%;
    border:none;
    outline: none;
    color: #636e72;
    font-size:15px;
    height:25px;
    background: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline: none;
    color: #636e72;
    font-size:15px;
    height:25px;
    background: none;
  }

  #btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    width:80%;
    height:40px;
    background: linear-gradient(150deg,purple, pink, lavender);
    background-position: right;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
  }

  #btn:hover {
    background-position: left
  }

  .material-symbols-outlined{
    margin-left: 3%;
    margin-top: 2%;
  }

.divider{
  position: relative;
  margin: 25px 0;
}

.border{
  position: absolute;
  background: #e7eaee;
  width: 150px;
  height: 1px;
  top: 12px;
  left: 12px;
}

.border-right{
  position: absolute;
  background: #e7eaee;
  width: 150px;
  height: 1px;
  top: 12px;
  left: 230px;
}