body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); 
}
 
.roadmapForm1 {
    width: 275px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 16px;
    line-height: 2;
    color: black;
    margin: 50px;
    float: left;
}

.roadmapForm2 {
    width: 275px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 16px;
    line-height: 2;
    color: black;
    margin: 50px;
    float: left;
}

.roadmapForm3 {
    width: 275px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 16px;
    line-height: 2;
    color: black;
    margin: 50px;
    float: left;
}

.roadmapForm4 {
    width: 275px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 16px;
    line-height: 2;
    color: black;
    margin: 50px;
    float: left;
}

.title1 {
    padding: 25px;
    color: white;
    background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.title2{
    padding: 25px;
    color: white;
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
   
}

.title3{
   padding: 25px;
    color: white; 
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  
}

.title4{
    padding: 25px;
    color: white;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.year {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.year_summary {
    border-top: 1px solid #eeeeee;
}

.plan {
    padding: 25px;
    font-size: 15px;
    margin-bottom: 10%;
}

/* https://www.htmlsymbols.xyz/unicode/U+2714 */
.plan::before {
    content: '\2714';
    position: relative;
    color: #666699;
}

.material-symbols-outlined{
    margin-left: 3%;
    margin-top: 2%;
}

.roadmapForm1:hover{
    animation:flash 2s ; 
    transform: scale( 1.1 );
  }

.roadmapForm2:hover{
    animation:flash 2s ; 
    transform: scale( 1.1 );
  }

.roadmapForm3:hover{
    animation:flash 2s ; 
    transform: scale( 1.1 );

  }

.roadmapForm4:hover{
    animation:flash 2s ; 
    transform: scale( 1.1 );
  }

  @keyframes flash{
  0%{opacity:1;}
  50%{opacity:0.5;}
  100%{opacity: 1;}
  }